#hr1 {
    position: relative;
    top:-566px;
    left: 337px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr2 {
    position: relative;
    top:-362px;
    left: 236px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr13 {
    position: relative;
    top:-335px;
    left: 32px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr16 {
    position: relative;
    top:-570px;
    left: 241px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr3 {
    position: relative;
    top:-595px;
    left: 37px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr4 {
    position: relative;
    top:-451px;
    left: -23px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:177px;
    height:1px
}
#hr5 {
    position: relative;
    top:-407px;
    left: 445px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr6 {
    position: relative;
    top:-318px;
    left: 441px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr7 {
    position: relative;
    top:-572px;
    left: 22px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr8 {
    position: relative;
    top:-245px;
    left: 119px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr9 {
    position: relative;
    top:-466px;
    left: -187px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr10 {
    position: relative;
    top:-355px;
    left: -289px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr11 {
    position: relative;
    top:-461px;
    left: 22px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr12 {
    position: relative;
    top:-288px;
    left: 425px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr14 {
    position: relative;
    top:-399px;
    left: 323px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:67px;
    height:1px
}
#hr15 {
    position: relative;
    top:-394px;
    left: 22px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr19 {
    position: relative;
    top:-182px;
    left: -80px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:57px;
    height:1px
}
#hr17 {
    position: relative;
    top:-685px;
    left: 455px;
    transform:rotate(90deg);
    z-index: 3;
    border-top:1px solid white;
    width:35px;
    height:1px
}
#hr18 {
    position: relative;
    top:-719px;
    left: 370px;
    z-index: 3;
    border-top:1px solid white;
    width: 102px;
    height:1px
}